.drop-title{
    text-align: center;
    padding-top: 25px;
}
.form-input{
    text-align: center;
    margin: 30px;
}
.s{
margin-left: 50px;
color: blue;
}
.a{
text-align: center;
margin-left: 140px;
background-color: gray;
}
.t{
    padding-left: 50px;
}
.i{
    padding-left: 50px;

}
.e{
    padding-left: 50px;

}
.ay{
    padding-top: 30px;
}