
.prof{
display: inline-flex;
}
.zr{
    padding-right: 500px;
}
.skills-desc{
    padding-left: 400px;
}
.z{
    display: inline-flex;
}
.title{
    padding-left: 500px;
}
.perc{
    padding-left: 100px;
}
.title-s{
    padding-left: 620px;
}
.titlec{
    padding-left: 500px;
}